#app{
    text-align: center;
}

h1 {
    text-align: center;
}

.addform{
    height: 200px;
    width: 300px;
    font-size: 28px;
}
.tasks{
    display: flex;
    list-style-type: none;
    margin: 0px;
    align-items: center;
}

.completed{
    text-decoration: line-through;
}

.cards{
    list-style-type: none;
    font-size: 14px;
    width: 90%;
    background-color: burlywood;
    padding: 10px;
    margin-bottom: 10px;
}

ul {
    padding-left: 20px;
}

p{
    margin: 5px;
    text-wrap: normal;
}

#cols {
    display: flex;
}

.col {
    width: 33.33%;
    height: 850px;
    text-align: center;
    border: 2px solid gray;
}