#app{
    text-align: center;
}

h1 {
    text-align: center;
}

.addform{
    height: 200px;
    width: 300px;
    font-size: 28px;
}

#cols {
    display: flex;
}

.col {
    width: 33.33%;
    height: 750px;
    text-align: center;
    border: 2px solid black;
}